@import 'tailwindcss';

@import '@fontsource-variable/inter';

@theme {
  --animate-slideDown: slideDown 0.5s ease-out;
  @keyframes slideDown {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(0);
    }
  }
}

@config "../../tailwind.config.ts";
