---
interface Props {
  items?: { title: string }[]
}

const { items = [] } = Astro.props
---

<section class='w-full py-4 bg-primary overflow-hidden flex items-center'>
  <div class='flex gap-x-8 items-center animate-marquee whitespace-nowrap text-black'>
    {
      items.map((item, index) => (
        <>
          <h4 class='text-3xl font-semibold leading-none w-auto'>{item.title}</h4>
          <h5 class='text-6xl font-black translate-y-[0.15em] text-transparent [-webkit-text-stroke:1px_#000]'>*</h5>
        </>
      ))
    }
    {
      items.map((item, index) => (
        <>
          <h4 class='text-3xl font-semibold'>{item.title}</h4>
          <h5 class='text-6xl font-black translate-y-[0.15em] text-transparent [-webkit-text-stroke:1px_#000]'>*</h5>
        </>
      ))
    }
  </div>
</section>

<style>
  /* 为不支持 -webkit-text-stroke 的浏览器提供回退样式 */
  @supports not (-webkit-text-stroke: 1px black) {
    h5 {
      text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    }
  }
</style>
